.txt_container
{
    padding-top: 50px;
    
    
    .title{
        display: flex;
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-size: 23px;
        padding-left: 80px;
    }
    
    .txt{
        display: flex;
        width:88%;
        padding-top:5px ;
        font-size: 18px;
        justify-content:flex-start;
        padding-left: 80px;
        text-align: start;
        
    }
}