.general_container{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;

    .title{
        display: flex;
    }

    .input{
        display: flex;
        margin-top: 5px;
    }
}