.search-container {
    position: relative; /* Position container relatively to handle absolute positioning of suggestions */
    width: 300px;
    top: -240px;
    padding-left: 70px;
    
  }
  
  .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 5px;
    background-color: #ffffff;
    width: 500px;
    padding: 10px;
  }
  
  .search-icon {
    color: #888;
    margin-right: 8px;
  }
  
  .input-field {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  .suggestions-list {
    position: absolute; /* Position the suggestions dropdown */
    width: 520px;
    top: 36px; /* Ensure it is just below the input field */
    left: 70px;
    right: 0;
    background-color: white;
    border: 1px solid #ffffff;
    border-top: none; /* No border at the top to blend with the search bar */
    border-radius: 0 0 15px 15px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000; /* Ensure it appears above other elements */
    list-style-type: none;
  }
  
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
    background-color: white;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  