
.fix_main {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 64px;
}

.xl-screen-gap{
    gap: 200px;
    
}



.container{
    width: 100%;
}