.fix_main {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 64px;
}



.small-screen{
    padding: 10px;
    .findfisher{
        margin-right: 800px;
    }
}
.container{
    width: 100%;
}