.navbar {
    background-color: #10297a;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    color: white;
    width: 100%;
  }

  .navbar img{
    position: relative;
    height: 60px;
    left: 70px;
    top: 0px;
  }

  .app-name{
    padding: 5px 0px 5px 20px;
  }

  .app-name h1{
    margin: -5px 0 0 0;
    position: relative;
    top: 40px; 
  }